@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dee2e6;
  --foreground: #eef0f2;
  --nav-menu: #343a40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dee2e6;
    --foreground: #eef0f2;
    --nav-menu: #343a40;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter";
}

input,
textarea,
select {
  color: #1a1a1a;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

.nav-underline {
  @apply relative inline-block text-gray-300;
}

.nav-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: all 0.3s ease;
}

.nav-underline:hover::after {
  width: 100%;
}
